.container {
  padding: 0rem 2rem;
}

.topiccontainer {
  padding: 0 1rem;
}

.topiccontainerz {
  padding: 0 42rem;
}

.hl {
  font-size: 2rem;
}

.smalltext {
  font-size: 0.5em;
}

.mediumtext {
  font-size: 1rem;
}

.largeerrtext {
  font-size: 1.5rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.messageblue {
  margin-left: 1em;
  position: relative;
  width: fit-content; 
  max-width: 90%;
  word-wrap: break-word;
  padding: 10px;
  background-color: #A8DDFD;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}

.messageblue:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #97C6E3;
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  top: -1px;
  left: -10px;
}

.messageblue:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 9px solid #A8DDFD;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: 0;
  left: -9px;
}


.messagebox {
  width: calc(100%-1em);
  padding: 10px;
  background-color: none;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid black;
  border-radius: 10px;
}

.form {
  position: fixed;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  background: #fff;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100vw;
  bottom: 0;
  height: min-content;
}

.author {
  font-size: large;
  color: black;
}

.authorme {
  font-size: large;
  color: yellowgreen;
}

.form .sendcontainer {
  display: flex;
  font-size: 16px;
}

.form input {
  font-size: inherit;
  width: fit-content;
  border: 1px solid #eaeaea;
  border-radius: 0.25em;
  height: 2em;
  margin-right: 0.5em;
  padding: 0.5em;
}

.form .msgbox {
  flex: 1;
}

.form .username {
  width: min-content;
}

.form .send {
  border: 1px solid #0070f3;
  color: #0070f3;
  height: 2em;
  width: 2em;
  border-radius: 0.25em;
  background: #fff;
  font-size: inherit;
}

.error, p.error {
  color: red;
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .form .username {
    width: 3em;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
